.Crypto-container {
	margin: 15px 0 0;
	padding-inline: 20px;
	width: 75vw;
	height: 7.5vh;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;

	.Crypto-row {
		z-index: 998;
		background-color: #fff;
		display: flex;
		justify-content: start;
		align-items: center;
		width: 100vw;
		height: 6vh;

		.Crypto {
			font-size: 20px;
			font-weight: bold;
			display: flex;
			align-items: center;
			padding-right: 24px;
			min-width: 300px;
			background: white;

			img {
				background: white;
				height: 30px;
				width: 30px;
				margin-right: 10px;
			}
			h1 {
				background: white;
				font-size: 16px;
				width: 150px;
			}
			.Crypto-symbol {
				background: white;
				text-transform: uppercase;
			}
		}
		.Crypto-data {
			font-size: 20px;
			font-weight: bold;
			display: flex;
			text-align: right;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			background: white;

			.Crypto-price {
				background: #fff;
				width: 110px;
			}
			.Crypto-volume {
				background: #fff;
				width: 155px;
			}

			.Crypto-marketcap {
				background: #fff;
				width: 290px;
			}

			.Crypto-percent {
				width: 70px;
				background: #fff;
			}

			.red {
				color: #f00606;
			}

			.green {
				color: #11d811;
			}
		}
	}
}
